.back {
  position: fixed;
  top: 148px;
  left: 129px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  text-decoration: none;
  color: $heather;
  transition: $transition;

  @include hover {
    color: $midnight;

    .back__arrow {
      border-color: $midnight;
    }
  }

  @include max("lg") {
    left: 5%;
  }

  @include max("md") {
    left: 1%;
  }

  @include max("sm") {
    top: 130px;
    left: 10px;
  }

  @include max("xs") {
    position: static;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid $heather;
    transition: $transition;

    @include max("sm") {
      width: 25px;
      height: 25px;

      svg {
        width: 6px;
        height: 9px;
      }
    }
  }

  &__text {
    @include max("md") {
      display: none;
    }

    @include max("xs") {
      display: inline;
    }
  }
}
