.hero-btn {
  $self: &;
  display: inline-flex;
  border: none;
  background-color: transparent;
  appearance: none;

  &--right {
    flex-direction: row-reverse;

    #{$self}__arrow {
      margin-left: 16px;
      margin-right: 0;
      transform: scale(-1, 1);

      @include max(xxll) {
        margin-left: vw(16);
      }
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    width: 54px;
    height: 54px;
    margin-left: 0;
    margin-right: 16px;
    border: solid 1px $midnight;
    border-radius: 50%;
    align-self: center;

    @include max(xxll) {
      width: vw(54);
      height: vw(54);
      margin-right: vw(16);
    }

    @include max(1200) {
      width: 48px;
      height: 48px;
      margin-right: 12px;
    }

    svg {
      display: block;
      fill: $midnight;
      align-self: center;
      margin-left: -2px;

      @include max(xxll) {
        width: vw(10);
        height: vw(15);
        margin-left: vw(-2);
      }
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.022em;
    align-self: center;
    //transition: opacity 0.3s ease;

    @include max(xxll) {
      font-size: vw(18);
    }

    @include max(1200) {
      font-size: 14px;
    }
  }
}
