.hero-btn {
  $self: &;
  display: inline-flex;
  border: none;
  background-color: transparent;
  appearance: none;

  &--right {
    flex-direction: row-reverse;

    #{$self}__arrow {
      margin-left: 16px;
      margin-right: 0;
      transform: scale(-1, 1);
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    width: 54px;
    height: 54px;
    margin-left: 0;
    margin-right: 16px;
    border: solid 1px $midnight;
    border-radius: 50%;
    align-self: center;

    svg {
      display: block;
      fill: $midnight;
      align-self: center;
      margin-left: -2px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.4px;
    align-self: center;
    transition: opacity 0.3s ease;
  }
}
