.margin-bottom {
  margin-bottom: 30px;

  &--16 {
    margin-bottom: 16px;
  }

  &--21 {
    margin-bottom: 21px;
  }

  &--23 {
    margin-bottom: 23px;
  }

  &--31 {
    margin-bottom: 31px;
  }

  &--33 {
    margin-bottom: 33px;
  }

  &--39 {
    margin-bottom: 39px;
  }

  &--36 {
    margin-bottom: 36px;
  }

  &--42 {
    margin-bottom: 42px;
  }

  &--48 {
    margin-bottom: 48px;
  }

  &--62 {
    margin-bottom: 62px;
  }

  &--64 {
    margin-bottom: 64px;
  }

  &--75 {
    margin-bottom: 75px;
  }

  &--128 {
    margin-bottom: 128px;
  }

  &--title {
    @include max("sm") {
      margin-bottom: 32px !important;
    }
  }

  &--text {
    @include max("sm") {
      margin-bottom: 20px !important;
    }
  }

  &--block {
    @include max("sm") {
      margin-bottom: 40px !important;
    }
  }
}
