.text {
  &--highlighted {
    position: relative;
    font-weight: 900;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -6px;
      right: -6px;
      z-index: -1;
      height: 100%;
      background-color: $orange;
    }
  }
}
