.text {
  &--highlighted {
    position: relative;
    display: inline-block;
    margin-right: 7px;
    padding-left: 6px;
    font-weight: 900;
    color: $white;

    @include max("sm") {
      padding: 0 !important;
      margin: 0 !important;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -6px;
      right: -6px;
      z-index: -1;
      height: 100%;
      background-color: $orange;

      @include max("sm") {
        left: -4px !important;
        right: -4px !important;
      }
    }
  }

  &--small {
    font-weight: 900;
    font-size: 21px;
    line-height: 30px;

    @include max("sm") {
      font-size: 16px;
      line-height: 19px;
    }

    @include max("sm") {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
