.text {
  &--highlighted {
    position: relative;
    display: inline-block;
    margin-right: 7px;
    padding-left: 6px;
    font-weight: 900;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -6px;
      right: -6px;
      z-index: -1;
      height: 100%;
      background-color: $orange;
    }
  }

  &--small {
    font-weight: 900;
    font-size: 21px;
    line-height: 30px;
  }
}
