extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная',
			isHome: true
		};

		const projects = [
			{img: 'logo-1', title: 'Международный аэропорт <br>Домодедово', city: 'Москва', square: '275 000 м²', type: 'Услуга', text: 'Kомплексное обслуживание, клининг, обслуживание инженерных систем зданий,  техническое обслуживание здания.'},
			{img: 'logo-2', title: 'Международный аэропорт <br>Домодедово', city: 'Москва', square: '275 000 м²', type: 'Услуга', text: 'Kомплексное обслуживание, клининг, обслуживание инженерных систем зданий,  техническое обслуживание здания.'},
			{img: 'logo-1', title: 'Международный аэропорт <br>Домодедово', city: 'Москва', square: '275 000 м²', type: 'Услуга', text: 'Kомплексное обслуживание, клининг, обслуживание инженерных систем зданий,  техническое обслуживание здания.'}
		]

block main
	section.hero
		.hero__container.container 
			.hero__main
				.hero__main-default
					+title('27 лет', 'hero__main-default-title is-shifted', 'div')
					.hero__main-default-text.is-shifted мы <span>разрабатываем&nbsp;решения</span> для оптимального управления объектами недвижимости

					.hero__main-default-number.is-hide.__js_numbers
						.hero__main-default-number-item
							- let j = 0;
							while j < 3
								span= j
								-j++;
						.hero__main-default-number-item
							- let i = 0
							while i < 8
								span= i
								-i++;
				.hero__main-projects
					+title('Проекты', 'hero__main-projects-title', 'div')
					.hero__main-projects-text В каждой  <span>индивидуальной&nbsp;ситуации</span> мы разрабатываем и внедряем оптимальный вариант обслуживания инженерных систем и зданий.
					.hero__main-projects-image 
						- let img = 0;
						while img <= 19
							img(class= (img === 0 ? 'active' : ''),src="images/main/projects/" + img + ".png", width="1400", height="937", alt="")
							- img++;
				.hero__main-platform
					.hero__main-platform-image 
						img(src="images/main/platforma24.png", srcset="images/main/platforma24@2x.png 2x", width="968", height="545", alt="")

						.hero__main-platform-hint Следите за всеми процессами в живом режиме со смартфона или ПК

			
			.hero__aside.hero__aside--left
				.hero__aside-inner
					button.hero__aside-close(type="button", aria-label="Свернуть платформа F-24")
						svg(viewBox="0 0 329.269 329" xmlns="http://www.w3.org/2000/svg")
							path(d="M194.8 164.77 323.013 36.555c8.343-8.34 8.343-21.825 0-30.164-8.34-8.34-21.825-8.34-30.164 0L164.633 134.605 36.422 6.391c-8.344-8.34-21.824-8.34-30.164 0-8.344 8.34-8.344 21.824 0 30.164l128.21 128.215L6.259 292.984c-8.344 8.34-8.344 21.825 0 30.164a21.266 21.266 0 0 0 15.082 6.25c5.46 0 10.922-2.09 15.082-6.25l128.21-128.214 128.216 128.214a21.273 21.273 0 0 0 15.082 6.25c5.46 0 10.922-2.09 15.082-6.25 8.343-8.34 8.343-21.824 0-30.164zm0 0")
					div(data-simplebar)
						+title('Платформа F-24', 'hero__aside-title', 'div')
						.hero__aside-text Контроль. Отчетность. <span>Автоматизация.</span> Документооборот. Заявки.
						.hero__aside-image 
							img(src="images/main/f24.jpg", srcset="images/main/f24@2x.jpg 2x", width="348", height="238", alt="")
						.hero__aside-text 
							p С интеграцией нашего приложения вы осуществляете полный контроль и управление объектом со своего рабочего места. 

							p Мы переносим все взаимодействия в цифровое пространство. 
				+hero-btn('F-24', 'left', 'hero__aside-btn')
			
			.hero__aside.hero__aside--right
				.hero__aside-inner
					button.hero__aside-close(type="button", aria-label="Свернуть проекты")
						svg(viewBox="0 0 329.269 329" xmlns="http://www.w3.org/2000/svg")
							path(d="M194.8 164.77 323.013 36.555c8.343-8.34 8.343-21.825 0-30.164-8.34-8.34-21.825-8.34-30.164 0L164.633 134.605 36.422 6.391c-8.344-8.34-21.824-8.34-30.164 0-8.344 8.34-8.344 21.824 0 30.164l128.21 128.215L6.259 292.984c-8.344 8.34-8.344 21.825 0 30.164a21.266 21.266 0 0 0 15.082 6.25c5.46 0 10.922-2.09 15.082-6.25l128.21-128.214 128.216 128.214a21.273 21.273 0 0 0 15.082 6.25c5.46 0 10.922-2.09 15.082-6.25 8.343-8.34 8.343-21.824 0-30.164zm0 0")
					div(data-simplebar)
						each item in projects
							+customer-card(item)
				+hero-btn('Проекты', 'right', 'hero__aside-btn')
		
		.hero__bottom 
			.hero__bottom-left Платформа F-24
			.hero__bottom-right Проекты