extends ../layouts/default

block vars
  -
    const page = {
      title: 'Контроль качества',
      content: {
        img1: { src: 'images/quality/quality-1.jpg', alt: '' },
        text1: `F 24 – это <span class="text--highlighted">цифровая платформа</span> для управления объектом недвижимости, не имеющая аналогов на рынке. Она позволяет заказчику контролировать объект недвижимости и все процессы с планшета, смартфона или ПК.`,
        text2: `Существует установленный порядок интеграции объекта недвижимости в виртуальную среду приложения, что позволяет нам быстро реализовывать задачи, а заказчику - видеть нагляный результат.`,
        text3: `В любой точке страны клиент гарантированно получает один стандарт качества от партнеров Facilicom.`,
        text4: `Стандарты учитывают специфику бизнеса клиента и адаптированы ко всем отраслям.`,
        text5: `Собственный IT продукт - система F24 - позволяет поддерживать единый стандарт всех процессов, связанных с обслуживанием и эксплуатацией объектов недвижимости.`,
        text6: `Наша цель - видеть качество глазами самого требовательного клиента.`,
        text7: `Каждый месяц в рамках F24 клиент получает детализированный отчет о работе партнера FACILICOM на его проекте. `,
        list1: {
          items: [
            { text: 'Проверки качества сотрудниками всех уровней, включая совместные с клиентом' },
            { text: 'Проверки проводятся  использованием мобильных устройств, онлайн. ' },
            { text: 'Мы видим результат работы на объекте в собственном IT продукте F24. ' },
            { text: 'На базе проверок система позволяет сформировать аналитический отчет, отражающий реальную картину на объекте. ' },
            { text: 'Мы сопоставляем критерии оценки и ожидания клиента с собственной оценкой работы партнера Facilicom и можем убедиться, что он оказывает качественную услугу. ' },
          ],
        },
        list2: {
          title: { text: 'В отчете клиент видит: ' },
          items: [
            { text: 'Показатели по всем выполненным работам  (количество, процент&nbsp;выполнения в срок).' },
            { text: 'информацию по результатам многоуровневых проверок качества работ: ', sub: [ 'менеджментом компании-партнера', ' совместных с представителем клиента', 'клиентом (подписывается бланк обратной связи)' ] },
            { text: 'Предложения по улучшениям на проекте, основанные на аналитике.' },
          ],
        },
      },
    };

block main
  section.technologies-item.quality.section--first
    .container
      .content
        //- Заголовок
        +title('Контроль качества', 'technologies-item__margin--64', 'h1', { src: 'images/quality/quality-symbol.png', alt: 'ISO' } )
        
        //- Текст до изображения
        +text(page.content.text1, 'technologies-item__text')

        //- Изображение
        +picture(page.content.img1, 'margin-bottom')

        //- Текст после изображения
        +text(page.content.text2, 'technologies-item__text--2')

        //- Первая внутрення секция
        +title('Единые стандарты ', 'margin-bottom--62', 'h2')
        
        +text(page.content.text3, 'margin-bottom')   

        +text(page.content.text4, 'margin-bottom', 'small')     

        +text(page.content.text5, 'margin-bottom--128', 'small')

        //- Вторая внутрення секция. Со списком
        +title('Система контроля качества', 'margin-bottom--64', 'h2')

        +list(page.content.list1, 'margin-bottom--128')

        //- Третья внутрення секция. Со списком
        +title('Отчеты и обратная связь ', 'margin-bottom--62', 'h2')

        +text(page.content.text6, 'margin-bottom--23')   

        +text(page.content.text7, 'margin-bottom--39', 'small')  

        +list(page.content.list2, 'technologies-item__list--2 margin-bottom--62', true)

        //- Видео
        +video("#", { src: 'images/quality/quality-2.jpg' }) 