.about {
	padding-bottom: 180px;
	overflow-x: hidden;
	overflow-y: auto;

	@include max(md) {
		padding-bottom: 120px;
	}

	@include max(sm) {
		padding-bottom: 90px;
	}

	.margin-bottom--64 {
		margin-bottom: 64px;

		@include max(xs) {
			margin-bottom: 35px;
		}
	}

	.margin-bottom--31 {
		margin-bottom: 31px;
	}

	.margin-bottom--42 {
		@include max(sm) {
			margin-bottom: 20px;
		}
	}

	.text--highlighted {
		margin-left: 2px;
	}

	&__date {
		margin-left: -3px;
	}

	&__date-block {
		margin-bottom: 64px;

		@include max(xs) {
			margin-bottom: 35px;
		}
	}

	&__text {
		&--half {
			width: 551px;
			margin-left: auto;
			font-weight: normal;
			font-size: 18px;
			line-height: 24px;

			@include max(md) {
				font-size: 16px;
				line-height: 22px;
			}

			@include max(sm) {
				width: 100%;
			}
		}
	}

	&__controls {
		position: absolute;
		top: 15px;
		right: 0;
		display: flex;
		align-items: center;
		height: auto;
	}

	&__pagination {
		display: flex;
		align-items: center;
		position: static;
		margin: 0 13px;
	}

	&-button {
		&-next,
		&-prev {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 54px;
			height: 54px;
			border-radius: 50%;
			background: transparent;
			border: 1px solid rgba(39, 41, 54, 1);
			flex-shrink: 0;
			cursor: pointer;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 10px;
				height: 10px;
				border: 2px solid #272936;
				border-right: none;
				border-top: none;
				pointer-events: none;

				@include max(sm) {
					width: 8px;
					height: 8px;
					border-width: 1px;
				}
			}

			@include max(sm) {
				width: 40px;
				height: 40px;
			}
		}

		&-prev::after {
			transform: translate(-37%, -50%) rotate(45deg);
		}

		&-next::after {
			transform: translate(-67%, -50%) rotate(-135deg);
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		position: static;
	}
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet {
	width: 5px;
	height: 5px;
	background: #c9c9c9;
	margin: 0 2px;
	opacity: 1;
	&-active {
		width: 9px;
		height: 9px;
		background-color: #ff8f2b;
	}
}

.history {
	padding-bottom: 62px;

	@include max(md) {
		padding-bottom: 0;
	}
}

.galery {
	position: relative;
}

.map {
	padding-bottom: 150px;

	@include max(md) {
		padding-bottom: 90px;
	}

	@include max(xs) {
		padding-bottom: 60px;
	}

	svg {
		width: 100%;

		path {
			fill: #c4d1dc;

			&:hover {
				@include min(md) {
					fill: #d7dfe6;
				}
			}
		}
	}
}
