.partners {
  &__text {
    margin-bottom: 88px;

    @include max("sm") {
      margin-bottom: 45px;
    }

    .text--highlighted {
      margin-right: 15px;
      margin-left: 2px;
      padding-left: 13px;
    }
  }

  &-new {
    position: relative;
    padding: 101px 0 128px;
    background-color: $white;
    text-align: center;
    overflow: hidden;

    @include max("sm") {
      padding: 45px 0 80px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 123px;
      left: 58px;
      z-index: 0;
      width: 158px;
      height: 120px;
      background: url("../images/partners/partners-bg-1.png") no-repeat;
      background-size: contain;

      @include max("sm") {
        top: 80px;
        left: 0;
        width: 100px;
        height: 76px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      right: 0;
      z-index: 0;
      width: 349px;
      height: 340px;
      background: url("../images/partners/partners-bg-2.png") no-repeat;
      background-size: contain;

      @include max("sm") {
        bottom: 0;
        width: 170px;
        height: 174px;
      }
    }

    &__symbol {
      position: relative;
      z-index: 1;
      margin: 0 auto 39px;
      width: 105px;
      height: 105px;
      overflow: hidden;
    }

    &__title {
      position: relative;
      z-index: 1;
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: -0.015em;

      @include max("sm") {
        margin: 0 auto 16px;
        max-width: 260px;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
      }
    }

    &__link {
      position: relative;
      z-index: 1;
      display: block;
      margin-bottom: 61px;
      font-size: 18px;
      line-height: 24px;

      @include max("sm") {
        margin-bottom: 32px;
      }
    }

    &__button {
      position: relative;
      z-index: 1;
      display: inline-block;
      min-height: 48px;
      min-width: 171px;
      border-radius: 25.5px;
    }
  }
}
