.projects {
  padding-bottom: 180px;

  @include max("sm") {
    padding-bottom: 80px;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6.5px;
  }

  &-item {
    position: relative;
    margin: 0 6.5px 12px;
    width: calc((50% - 13px));
    border-radius: 13px;
    overflow: hidden;

    @include hover {
      .projects-item__image:not(.projects-item__image--no-filter) {
        transform: scale(1.1);
      }
    }

    @include max("sm") {
      width: 100%;
      height: auto;
      min-height: 350px;
      margin-bottom: 20px;
    }

    &--full {
      width: 100%;
      height: 556px;

      @include max("md") {
        height: auto;
        min-height: 350px;
      }

      .projects-item {
        &__image {
          position: absolute;
          z-index: 0;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.75) 100%
            );
          }
          &--static {
            position: static;
          }
        }

        &__info {
          position: absolute;
          bottom: 0;
          padding-bottom: 20px;
          color: $white;
          background-color: transparent;

          &-title {
            color: inherit;
          }

          &--static {
            position: static;
            color: $midnight;
            padding: 0;
          }
        }
      }
    }

    &--full-width {
      height: auto;
      margin: 0;
      margin-bottom: 64px;
    }

    &__tag {
      position: absolute;
      top: 13px;
      left: 15px;
      z-index: 1;
      display: inline-block;
      padding: 4px 14px;
      border-radius: 100px;
      font-weight: 500;
      font-size: 12px;
      line-height: 26px;
      color: $white;
      background: radial-gradient(
        48.31% 215.81% at 50% 50%,
        rgba(39, 41, 54, 0.32) 0%,
        rgba(25, 22, 44, 0.32) 100%
      );

      &--big {
        top: 16px;
        left: 16px;
        padding: 49px 30px 44px 31px;
        border-radius: 12px;

        @include max(md) {
          padding: 30px 20px;
        }

        @include max(sm) {
          padding: 25px 15px;
        }

        img {
          width: 135px;
          height: 43px;

          @include max(md) {
            width: 102px;
            height: 34px;
          }

          @include max(xs) {
            width: 68px;
            height: 23px;
          }
        }
      }

      &--white {
        background: #ffffff;
      }
    }

    &__image {
      width: 100%;
      height: 277px;
      transition: $transition;

      @include max("sm") {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.75) 100%
          );
        }
      }

      &--no-filter {
        &::after {
          display: none;
        }
      }
    }

    &__info {
      position: relative;
      z-index: 1;
      padding: 18px 13px 15px 15px;
      background-color: $white;

      @include max("sm") {
        position: absolute;
        bottom: 0;
        padding-bottom: 20px;
        color: $white;
        background-color: transparent;
      }

      &-title {
        display: block;
        margin-bottom: 9px;
        min-height: 40px;
        font-family: $ubuntu;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: $nero;

        @include max("sm") {
          color: inherit;
        }
      }

      &-text {
        font-size: 14px;
        line-height: 20px;

        &--big {
          font-size: 18px;
          line-height: 24px;
          max-width: 589px;
        }

        &--bold {
          font-weight: 900;
        }
      }
    }

    &__button {
      display: inline-flex;
      padding: 11px 40px;
      margin: 0 auto;
    }

    &__footer {
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    margin-bottom: 33px;
  }
}
