/* media */
$media-list: (
  "xxs": 375,
  "xs": 560,
  "sm": 767,
  "md": 1079,
  "lg": 1279,
  "xl": 1599,
  "xxl": 1900,
);

/* шрифты */
$roboto: "Roboto", sans-serif;
$ubuntu: "Ubuntu", sans-serif;

/* transition */
$transition: 0.3s ease-in-out;

/* цвета */
$white: #ffffff;
$orange: #ff8f2b;
$blue: #3b72ff;
$red: #ff473b;
$midnight: #272936;
$heather: #a6b4bf;
$mango: #ee7b09;

$gradient: radial-gradient(48.31% 215.81% at 50% 50%, #272936 0%, #19162c 100%);
